$white: #fff;
$black: #000;
$light: #5d5d5d;
$light-two: #ccc;
$blue: #5266df;
$dark-blue: #242946;
$red: #fb5859;
$dark-red: #b23030;

.tabs{
    list-style: none;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
}
.tab-item{
  color: $black;
    font-size: 16px;
    padding: 15px 45px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid $light-two;
    background-color: #fff;
    transition: 1s;
    border-radius: 0;
}
.tab-item.active{
    border-bottom: 2px solid #fb5859;
}
.tab-item:hover {
  background-color: #ddd;
}
.tab-content {
  display: none;
  padding: 6px 12px;
}