$white: #fff;
$black: #000;
$light: #5d5d5d;
$light-two: #ccc;
$blue: #5266df;
$dark-blue: #242946;
$red: #fb5859;
$dark-red: #b23030;

.navbar{
    text-align: center;
}
.list{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.item{
    text-transform: uppercase;
    list-style: none;
    color: #000;
    cursor: pointer;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
.item:hover{
    color: $light-two;
    transition: .5s;
}